.header {
    max-height: 367px;
    background-color: $blackcolor;
    padding: 53px 0 32px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__list {
        display: flex;
        margin-left: 0;
        padding-left: 0;
        justify-content: space-between;
    }
    &__item {
        display: inline-block;
        color: white;
        list-style: none;
        margin-right: 20px;
    }
    &__link {
        font-weight: 400;
        font-size: 12px;
        color: $maincolor;
        text-decoration: none;
        &:hover {
            color: $graycolor;
            transition: 0.5s all;
        }
    }
    img {
        display: block;
    }
    .right-list {
        .navbar__link {
            color: $graycolor;
            &:hover {
                color: $maincolor;
                transition: 0.5s all;
            }
        }
         :last-child {
            margin-right: 0px;
        }
    }
}